{% extends 'base-admin.html.twig' %}

{% block title %}Liste Article{% endblock %}

{% block body %}

    <h1>Liste Article</h1><br>
    <a href="{{ path('admin_article_new') }}" class="btn btn-warning mb-3">Nouveau</a>

<br>
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                {# <th>Id</th> #}
                <th>Titre</th>
                {# <th>Description</th> #}
                <th>Mise a jour le </th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
        <div class="container">
        
            <tr>
                <td><img src="{{ asset('images/article' ~ article.imagePath)}}" alt="" class="img-liste" style="max-width: 100px"></td>
                {# <td>{{ article.id }}</td> #}
                <td>{{ article.titre }}</td>
                {# <td>{{ article.description }}</td> #}
                <td>{{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td class="text-end">
                    <a href="{{ path('admin_article_show', {'id': article.id}) }}" class="btn btn-primary me-md-2 md-2 mb-md-0">show</a>
                    <a href="{{ path('admin_article_edit', {'id': article.id}) }}" class="btn btn-success mt-2">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun article de trouver</td>
            </tr>
        </div>
        {% endfor %}

        </tbody>
    </table>


{% endblock %}
