{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}


{% block body %}

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<form method="post" class="container clo-12 col-md-6">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				Vous êtes connecté en temps que
				{{ app.user.username }},
				<a href="{{ path('app_logout') }}">Déconnexion</a>
			</div>
		{% endif %}

		<h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>
		<label for="inputEmail">Email</label>
		<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
		<label for="inputPassword">Mot de passe</label>
		<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


		{# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
		        See https://symfony.com/doc/current/security/remember_me.html #}

		<div class="checkbox mb-3">
			<label>
				<input type="checkbox" name="_remember_me">
				Souvenir de moi
			</label>
		</div>

		<div class="mt-2">
			<button class="btn btn-lg btn-dark" type="submit">
				Connexion
			</button>
			<a href=" {{ path('inscription')}} " class="text-dark">Pas encore inscrit</a>
		</div>
	</form>
	<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1440 320">
			<path fill="#fdbb2d" fill-opacity="1" d="M0,288L17.1,261.3C34.3,235,69,181,103,154.7C137.1,128,171,128,206,154.7C240,181,274,235,309,234.7C342.9,235,377,181,411,138.7C445.7,96,480,64,514,74.7C548.6,85,583,139,617,165.3C651.4,192,686,192,720,186.7C754.3,181,789,171,823,186.7C857.1,203,891,245,926,234.7C960,224,994,160,1029,149.3C1062.9,139,1097,181,1131,170.7C1165.7,160,1200,96,1234,64C1268.6,32,1303,32,1337,48C1371.4,64,1406,96,1423,112L1440,128L1440,320L1422.9,320C1405.7,320,1371,320,1337,320C1302.9,320,1269,320,1234,320C1200,320,1166,320,1131,320C1097.1,320,1063,320,1029,320C994.3,320,960,320,926,320C891.4,320,857,320,823,320C788.6,320,754,320,720,320C685.7,320,651,320,617,320C582.9,320,549,320,514,320C480,320,446,320,411,320C377.1,320,343,320,309,320C274.3,320,240,320,206,320C171.4,320,137,320,103,320C68.6,320,34,320,17,320L0,320Z"></path>
		</svg>
{% endblock %}
