{% extends 'base.html.twig' %}

{% block title %}Infinit'Aide
{% endblock %}

{% block body %}
	<section class="banner d-flex justify-content-center align-items-center mx-auto pt-5">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-8">
					<h1 class="animate__animated animate__backInLeft banner-desc"> Infinit'Aide est la pour vous accompagner à chaque étapes de votre Deuil</h1>
				</div>
			</div>
		</div>

	</section>

	<!--Embed-reponsive ect est la pour rendre la vidéo responsive -->
	<br>
	<br>
	<div class="container-fluid">
		<div class="row mt-2">
			<div class="col-11 col-md-4 pt-5 pb-3 d-flex justify-content-center">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item ms-5" src="https://www.youtube.com/embed/PWXHkYMZ4LQ?list=RDPWXHkYMZ4LQ" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-12 col-md-8  ">
				<p class="pre1 zone1  ">
					Bienvenue à tous !<br>
					Toute l’équipe de notre association Infinit’Aide est à votre service pour vous informer et vous
					accompagner dans votre chemin de deuil
									Vous y trouverez des vidéos, des articles, l’accès privatif à une communauté bienveillante et desparcours individualisés.
										Tout est 100 % gratuit.<br>
					Association Loi 1901 d’intérêt général à but non lucratif
				</p>
			</div>
		</div>
	</div>

	<hr>
	<br>
	<h2 class="text-center pt-2">Comment ca marche ?
	</h2>
	<main class="row align-items-center mx-auto">
		<div class="col-12 col-md-6 ">
			<p class="pre1 zone2">
				Des informations concrètes sur les démarches et les formalités à accomplir
				<strong>pendant et après les obsèques.</strong><br>Avec un calendrier pour vous guider.
			</p>
		</div>
		<div class="col-12 col-md-6 ">
			<img class=" ms-5" src=" {{ asset('images/home-img.png')}} " alt="">
		</div>
	</main>

	<hr class="hr2">

<h2 class="text-center fs-2 text-uppercase pb-3">Repères pratiques</h2>
	<main class="container mt-5">
		<div class="row logo1 ">
			<div class=" col-12 col-md-6 d-flex justify-content-center">
				<i class=" far fa-calendar-alt "></i>
			</div>
			
				<ul class="p1 col-12 col-md-4  pt-4 text-center">
					<li>
					<a href="{{ path('reperepratique')}}" title=""  style="color: black">Formulaires après décès </a>
					</li>
					<li>
					<a href="{{ path('declarerundeces')}}" title=""  style="color: black">Déclarer un décès </a>
					</li>
					<li>
					<a href="{{ path('servicefuneraire')}}" title=""  style="color: black">Les services funéraires</a>
					</li>
				</ul>
			
		</div>
	</main>

	<hr class="hr3">

	<main class="row mt-5 logo1">
		<p class="text-center fs-2 text-uppercase pb-3">Se faire Aider</p>
		<div class="col-12 col-md-6 d-flex justify-content-center">
			<i class="fas fa-users"></i>
		</div>
		
			<ul class="p1 col-12  col-md-4 pt-4 text-center">
				<li>
					<a href="#" class="exe text-uppercase" style="color: black;">Lignes d’écoute et de prévention générique
					</a>
				</li>
				<li >
				<a href="{{ path('association')}}" class="exe text-uppercase" style="color: black;">Les Associations</a>
				</li>
				<li >
				<a href="#" class="exe text-uppercase" style="color: black;"> Comment solliciter de l’aide ?
				</a>
				</li>
			</ul>
		
	</main>

	<h2 class="text-center text-uppercase pt-4 ">Notre contenu à la une</h2>

	<article class="container d-flex justify-content-center">
		<div class="row card-article ">
			<div class="col col-md-3  mt-4 pb-4 d-flex ">
				<div class="card mx-auto border border-white w-100">
					<div class="card-body text-center  bg ronded ">
						<img src=" {{ asset('images/visage.jpg')}} " class="card-img-top w-75" alt="...">
						<h5 class="card-title pt-2">Titre article</h5>
						<p class="card-text">Text article</p>
					</div>
				</div>
			</div>
			<div class="col col-md-3 mt-4 pb-4 d-flex ">
				<div class="card mx-auto border border-white w-100 ">
					<div class="card-body text-center  bg ronded ">
						<img src=" {{ asset('images/0072.jpeg')}} " class="card-img-top w-75" alt="...">
						<h5 class="card-title pt-2">Titre article</h5>
						<p class="card-text">Text article</p>
					</div>
				</div>
			</div>
			<div class="col col-md-3 mt-4 pb-4 d-flex ">
				<div class="card mx-auto border border-white w-100">
					<div class="card-body text-center   bg ronded ">
						<img src=" {{ asset('images/porte.jpg')}} " class="card-img-top w-75" alt="...">
						<h5 class="card-title pt-2">Titre article</h5>
						<p class="card-text">Text article</p>
					</div>
				</div>
			</div>
		</div>
	</article>
	<div class="row new">
		<div class="col-12 col-md-12   d-flex flex-wrap justify-content-center">
			<p class="text-center fs-1 fw-bolder">Rejoignez notre Newsletter</p>
			<p class="text-center">Recevez nos articles pour vous aider à mieux traverser ou comprendre le deuil.</p>

			<div class="col-10 col-md-6">
				<div class="input-group">
					<span class="input-group-text" id="inputGroupPrepend2">@</span>
					<input type="text" placeholder="Entrer votre mail" class="form-control zone3" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" required>
					<button class="btn btn-light" type="submit">S'inscrire</button>
				</div>
			</div>
		</div>
	</div>

	
	<figure class="container pt-5 ">
		<div class="row border border-dark mt-3 pt-3 bg-warning text-center">
		{% for citasion in citasions %}
			<div class="col-12 col-md-12  "></div>
			{{ citasion.description|raw }}
		</div>
		{% endfor %}
	</figure>

	<!--Fléche de retour en haut / d-flex utiliser pour placer la fléche a la gauche avec justify-content: end -->
		<div class="container-fluid d-flex flex-start">
			<div class="scroll_to_top">
				<a href="#">
					<i class="fas fa-arrow-circle-up d-flex mb-2 img w-50" style="font-size: 40px; justify-content: end;"></i>
				</a>
			</div>
		</div>
{% endblock %}
