{% extends 'base.html.twig' %}

{% block body %}
	<br>
	<br>
	<br>
	<br>

	{% block title %}
    
	<br>
	<br>
		<h1 class="text-center i ">
			Repére pratique
		</h1>
		<hr class="hr3">
	{% endblock %}


	<div class="container mt-5">
		<h2 class="text-start text-center">Formlaire indispensable
		</h2>
		<div class="form-row mt-5 d-flex justify-content-center ">
			<div class="col col-md-8 ">
				<div class="card pt-3">
					<div class="carbody text-center w-100">
						<p>Télécharger Formulaire Capital Décès :
							<a href="{{ asset('pdf/capitale-décès.pdf')}}" target="_blank" rel="noopener noreferrer">Télécharger</a>
						</p>
					</div>
				</div>
				<div class="card mt-4 pt-3">
					<div class="carbody text-center ">
						<p>Télécharger Formulaire Réversion Retraite:
							<a href="{{ asset('pdf/demande-retraite-reversion-1.pdf')}}" target="_blank" rel="noopener noreferrer">Télécharger</a>
						</p>
					</div>
				</div>
				<div class="card mt-4 pt-3">
					<div class="carbody text-center ">
						<p>Télécharger Formulaire Fond de Garentis :
							<a href="{{ asset('pdf/Fond-de-Garentis.pdf')}}" target="_blank" rel="noopener noreferrer">Télécharger</a>
						</p>
					</div>
				</div>
				<div class="card mt-4 pt-3">
					<div class="carbody text-center">
						<p>Télécharger Formulaire Renonciation sucession :
							<a href="{{ asset('pdf/Renonciation_sucession.pdf')}}" target="_blank" rel="noopener noreferrer">Télécharger</a>
						</p>
					</div>
				</div>
				<div class="card mt-4 pt-3">
					<div class="carbody text-center ">
						<p>Télécharger Formulaire Renonciation sucession (Enfant) :
							<a href="{{ asset('pdf/Renonciation-sec-Enfant.pdf')}}" target="_blank" rel="noopener noreferrer">Télécharger</a>
						</p>
					</div>
				</div>
				<div class="card mt-4 mb-2 pt-3 ">
					<div class="carbody text-center ">
						<p>Télécharger Formulaire Allocation Soutien Familiale :
							<a href="{{ asset('pdf/AllocationSoutienFamiliale.pdf')}}" target="_blank" rel="noopener noreferrer">Télécharger</a>
						</p>
					</div>
				</div>

			</div>
		</div>
	</div>


{% endblock %}
