<nav id="sidebar" class="sidebar js-sidebar">
	<div class="sidebar-content js-simplebar">
		<a class="sidebar-brand" href="{{ path('admin')}}">
			<span class="align-middle">infinit'Aide Admin</span>
		</a>

		<ul class="sidebar-nav">
			<li class="sidebar-item active">
				<a class="sidebar-link" href="{{ path('admin')}}">
					<i class="align-middle" data-feather="sliders"></i>
					<span class="align-middle">Dashboard</span>
				</a>
			</li>


			<li class="sidebar-header">
				Utilisateur
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="pages-profile.html">
					<i class="align-middle" data-feather="user"></i>
					<span class="align-middle">Profile</span>
				</a>
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="pages-sign-in.html">
					<i class="align-middle" data-feather="log-in"></i>
					<span class="align-middle">Sign In</span>
				</a>
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="pages-sign-up.html">
					<i class="align-middle" data-feather="user-plus"></i>
					<span class="align-middle">Sign Up</span>
				</a>
			</li>

			<li class="sidebar-header">
				Contenus
			</li>

			

			<li class="sidebar-item">
				<a class="sidebar-link" href="{{ path('admin_article_index')}}">
					<i class="align-middle" data-feather="book"></i>
					<span class="align-middle">Article</span>
				</a>
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="{{ path('admin_citasion_index')}}">
					<i class="align-middle" data-feather="align-left"></i>
					<span class="align-middle">Citation</span>
					</a>
				</li>
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" href="{{ path('admin_association_index')}}">
					<i class="align-middle" data-feather="square"></i>
					<span class="align-middle">Association</span>
					</a>
				</li>
			</li>
		</ul>
	</div>
</nav>
